.img{
    height: 18em;
    width: 12em;
    border-radius: 0.2em;
    margin-bottom: 1.7em;
}

.card{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 13em;
    margin: 1.5em 0.3em 0em 0.3em;
    border-radius: 0.5em;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    position: relative;
}

.texto{
    display: flex;
    flex-direction: column;
}

.btn2{
    width: 10em;
    color: white;
    border-radius: 0.5em;
    background-color: #261c2c00;
    border: none;
    border: 2px solid white;
    padding: 0.3em;
    position: absolute;
    bottom: 0em;
}

.btn2:hover{
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    transition-duration: 0.2s;
}