.cards{
    margin: 0em 2em 0em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin-top: 3em;
}

.center{
    display: flex;
    justify-content: center;
}