.todo{
    display: flex;
    justify-content: center;
}
.caja{
    color: white;
    background-color: blue;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 4.6em 0em 0em 0em;
    border-radius: 0.5em;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
}
.imagen{
    border-radius: 0.5em;
    height: 20em;
    width: 14em;
    border-radius: 0.2em;
}

.texto{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}